﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-light">
                    <tr class="d-table-row">
                        <th class="d-table-cell">Date</th>
                        <th class="d-table-cell">Temp C</th>
                        <th class="d-table-cell">Temp F</th>
                        <th class="d-table-cell">Summary</th>
                    </tr>
                </thead>
                <tbody class="">
                    @foreach (var item in Model.WeatherForecasts)
                    {
                        <tr class="d-table-row">
                            <td class="d-table-cell">@item.Date</td>
                            <td class="d-table-cell">@item.TemperatureC</td>
                            <td class="d-table-cell">@item.TemperatureF</td>
                            <td class="d-table-cell">@item.Summary</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>